<div class="sidebar">
  <mat-nav-list>
    <h2>{{personne?.email}}</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
   <a mat-list-item routerLinkActive="list-item-active" routerLink="/imageAccueil">Image de l'accueil</a>
    <mat-divider></mat-divider>
    <h1 matSubheader>Demandes</h1>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/demande">Gérer les Demandes</a>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/demandeArchiver">Les Demandes Archivées</a>
    <mat-divider></mat-divider>
    <h1 mat-line matSubheader>Documents - villes</h1>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/listDoc">Gérer les Documents</a>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/listVille">Gérer les Villes</a>
    <mat-divider></mat-divider>
    <h1 matSubheader>Nos Terrains</h1>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/listTerrains">Gérer les Terrains</a>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/post">Gérer des Flash Terrains</a>
    <mat-divider></mat-divider>
    <h1 matSubheader>Nos Maisons</h1>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/listMaison">Gérer les Maisons</a>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/listFlasMaison">Gérer des Ventes Flash de Maisons</a>
    <mat-divider></mat-divider>
    <h1 matSubheader>Administration</h1>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/employe">Gérer les Employés</a>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/departement">Gérer les Departements</a>
    <mat-divider></mat-divider>
    <h1 matSubheader>Géolocalisation & ventes</h1>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/terrainAGEO">Gérer les Terrains à géo</a>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/terrainVendu">Gérer les Terrains Vendus</a>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/versement">Gérer les Versements</a>

    <mat-divider></mat-divider>
    <h1 matSubheader>Prospects - Clients </h1>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/article">Gérer les prospects</a>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/listClient">Gérer les Clients</a>
    <h1 matSubheader>Blog</h1>
    <a mat-line mat-list-item routerLinkActive="list-item-active" routerLink="/listBlog">Gérer le Blog</a>
  </mat-nav-list>
</div>
