<div class="test">
  <mat-toolbar>
    <span>{{flashTerrainService.form.controls['id'].value?"Modifier le terrain":"Nouveau terrain"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="flashTerrainService.form" (submit)="onSubmit()">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <ng-template matStepLabel>INFORMATIONS SUR LE TERRAIN</ng-template>
        <input type="hidden" formControlName="id">
        <mat-form-field appearance="fill">
          <mat-label>Libelle</mat-label>
          <input matInput placeholder="Libelle" formControlName="libelle">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Prix</mat-label>
          <input matInput placeholder="Prix" formControlName="prix">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label >Selectionner une ville</mat-label>
          <mat-select  (selectionChange)="getVille($event)">
            <mat-option *ngFor="let v of villes" [value]="v.id">
              {{v.libelle}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label >Selectionner un document</mat-label>
          <mat-select  (selectionChange)="getDocument($event)">
            <mat-option *ngFor="let d of documents" [value]="d.id">
              {{d.libelle}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <div>
          <button mat-button matStepperNext type="button">Suivant</button>
        </div>
      </mat-step>
      <mat-step  label="INFORMATIONS COMPLEMENTAIRES">
        <div>
          <mat-form-field appearance="fill">

            <input matInput placeholder="Superficie" formControlName="surfaceUtile">
          </mat-form-field>
          <br>

        </div>

        <br>
        <div>
          <button mat-button matStepperPrevious type="button">Retour</button>
          <button mat-button type="submit" [disabled]="flashTerrainService.form.invalid">Valider</button>
        </div>
        <br>
        <app-file-upload [id]="flashTerrain?.id"></app-file-upload>
      </mat-step>
    </mat-stepper>
  </form>
</div>
