<div class="main-div">

  <mat-card>
    <mat-card-header>
      <mat-card-title> Modifier les info sur la maison</mat-card-title>
    </mat-card-header>
    <form [formGroup]="tdForm" (ngSubmit)="onSubmit()" novalidate *ngIf="tdForm">
      <div class="well">

        <div class="achat">
          <mat-form-field class="example-full-width" appearance="fill" formGroupName="document">
            <mat-label >Selection un document</mat-label>
            <mat-select formControlName="libelle" (selectionChange)="greetDocument($event)">
              <mat-option *ngFor="let v of documents" [value]="v.libelle">
                {{v.libelle}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input  matInput  type="text" placeholder="Libelle" formControlName="libelle">
          </mat-form-field>
          <br>

          <mat-form-field>
            <input  matInput  type="text" placeholder="Description" formControlName="description">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input  matInput  type="text" placeholder="Prix" formControlName="prix">
          </mat-form-field>
          <br>
          <mat-form-field>
            <textarea #value matInput type="text" placeholder="Nombre de Salle d'eau" formControlName="nbreSalleEau"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field>
            <textarea #value matInput type="text" placeholder="Nombre de Salle à manger" formControlName="nbreSaleMange"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field>
            <textarea #value matInput type="text" placeholder="Nombre de Salle de bouanderie" formControlName="nbreBuanderie"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field>
            <textarea #value matInput type="text" placeholder="Nombre de Salle de terrasse" formControlName="nbreTerrasse"></textarea>
          </mat-form-field>
          <br>
          <mat-form-field>
            <textarea #value matInput type="text" placeholder="Nombre de Salle de cuisine" formControlName="nbreCuisine"></textarea>
          </mat-form-field>
          <br>
          <hr>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <button mat-raised-button class="boutonEnr" type="submit"> Modifier
            </button>
            <button mat-raised-button class="boutonAnn" type="button" type="reset">Annuler
            </button>
          </div>
        </div>



      </div>
    </form>
  </mat-card>

</div>


