<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header card-header-rose">
            <h4 class="card-title">La liste de detail maison</h4>
          </div>
          <div class="row">

            <div class="col-md-6">
              <mat-form-field >
                <input matInput (keyup)="applyFilter($event)"  placeholder="Recherche..." #input>
              </mat-form-field>
            </div>

          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="libelle">
              <th mat-header-cell *matHeaderCellDef> Libelle </th>
              <td mat-cell *matCellDef="let detailMaison"> {{detailMaison?.libelle}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let detailMaison"> {{detailMaison?.description}} </td>
            </ng-container>
            <ng-container matColumnDef="prix">
              <th mat-header-cell *matHeaderCellDef> Prix </th>
              <td mat-cell *matCellDef="let detailMaison"> {{detailMaison?.prix}} </td>
            </ng-container>
            <ng-container matColumnDef="document">
              <th mat-header-cell *matHeaderCellDef> Document </th>
              <td mat-cell *matCellDef="let detailMaison"> {{detailMaison?.document?.libelle}} </td>
            </ng-container>
            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Editer </th>
              <td mat-cell *matCellDef="let detailMaison">
                <button mat-icon-button color="accent" (click)="redirectToUpdate(detailMaison.id)">
                  <mat-icon class="mat-18">system_update</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="supprimer">
              <th mat-header-cell *matHeaderCellDef> Supprimer </th>
              <td mat-cell *matCellDef="let detailMaison">
                <button mat-icon-button color="warn" (click)="redirectToDelete(detailMaison.id)">
                  <mat-icon class="mat-18">delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Pas de donnée "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 15,20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
