<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose">
            <h4 class="card-title">La liste des Images</h4>
          </div>
          <div class="row">
            <div class="col-md-4">
              <button mat-button (click)="openDialog()"> Ajouter une image </button>
            </div>
            <div class="col-md-6">
              <mat-form-field >
                <input matInput (keyup)="applyFilter($event)"  placeholder="Recherche..." #input>
              </mat-form-field>
            </div>

          </div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="libelle">
              <th mat-header-cell *matHeaderCellDef> Libelle </th>
              <td mat-cell *matCellDef="let imageAccueil"> {{imageAccueil.libelle}} </td>
            </ng-container>

            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef> Image </th>
              <td mat-cell *matCellDef="let imageAccueil"> <img [src]="imageAccueil.path"/></td>
            </ng-container>

            <ng-container matColumnDef="modifierImage">
              <th mat-header-cell *matHeaderCellDef> Editer image</th>
              <td mat-cell *matCellDef="let imageAccueil">
                <button mat-icon-button color="accent" (click)="redirectToModifImage(imageAccueil.id)">
                  <mat-icon class="mat-18">system_update</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="supprimer">
              <th mat-header-cell *matHeaderCellDef> Supprimer maison </th>
              <td mat-cell *matCellDef="let imageAccueil">
                <button mat-icon-button color="warn" (click)="redirectToDelete(imageAccueil.id)">
                  <mat-icon class="mat-18">delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Pas de donnée "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 15,20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
