<div class="main-div">

  <mat-card>
    <mat-card-header>
      <mat-card-title> Modifier les coordonnées</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="tForm" (ngSubmit)="onSubmit()" novalidate *ngIf="tForm">
      <div class="well">
        <mat-card>
          <div class="achat">
            <mat-form-field>
              <input  matInput  type="text" placeholder="Numero" formControlName="numero">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input  matInput  type="text" placeholder="Latitude" formControlName="latitude">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input  matInput  type="text" placeholder="Longitude" formControlName="longitude">
            </mat-form-field>
            <br>
            <hr>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <button mat-raised-button  type="submit"> Modifier
              </button>
              <button mat-raised-button  type="button" (click)="coord()">coordonnées
              </button>
            </div>
          </div>

        </mat-card>

      </div>
    </form>
  </mat-card>

</div>


